/* index.css */

html {
  -webkit-text-size-adjust: 100%;
}

::after,
::before {
  box-sizing: border-box;
}

.full-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 使容器占满整个视口高度 */
  width: 100vw; /* 使容器占满整个视口宽度 */
  background-color: #f3f3f4;
  box-sizing: border-box;
}

.form-item-container {
  display: flex;
  justify-content: center;
}
